# Virtual Environment
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE and editor specific
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Build artifacts
build/
dist/
*.egg-info/